<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>登录页面</title>
    <link href="../css/normalize.css" rel="stylesheet">
    <link href="../css/login.css" rel="stylesheet">
    <script src="../js/login.js" ></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo-wrap">
                <img src="../img/logo.png" class="" />
            </div>
        </div>
        <div class="form-container">
            <div class="input-container">
                <div class="input-group">
                    <input type="email" class="email-input"  id="email"   placeholder="请输入邮箱" />
                    <img src="../img/email.png" class="email-img" />
                </div>
            </div>
            <div class="input-container">
                <div class="input-group">
                    <input type="password" class="email-input"  id="password"  placeholder="请输入密码" />
                    <img src="../img/password.png" class="email-img" />
                </div>
            </div>
            <div class="auto-login-container">
                <div class="auto-login-wrap">
                    <input type="checkbox" id="autoLoginCheckbox" />
                    <label for="autoLoginCheckbox">自动登录</label>
                </div>
                <div class="forget-pwd">
                    <a href="">忘记密码?</a>
                </div>
            </div>
            <div class="btn-login-register">
                <button class="btn-login" type="button"  onclick="login()" >
                    登&nbsp;录
                </button>
                <button class="btn-register" type="button"  onclick="register()" >
                    注&nbsp;册
                </button>
            </div>
        </div>
        <div class="foot-container">
            cardinfolink 2015
        </div>
    </div>

    <script>
     initLayout();
    </script>
</body>

</html>
