<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>注册页面2</title>
    <link href="../css/login.css" rel="stylesheet">
        <script src="../js/register.js" ></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="backbtn-register">
                <img src="../img/return.png"   onclick="back()" class="back-btn-img"/>
            </div>
            <div class="register-wrap">
                <img src="../img/logo.png" class="" />
            </div>
            <div class="alert-register">*请完善以下信息，才能正常使用收款功能。我们会将您的收款金额在2个工作日内清算到您的账户中。
                <br /> *云收银将严格遵守国家相关法律法规，承诺不将您的账户信息以任何形式透露给第三方。
            </div>
        </div>
        <div class="form-container">
            <div class="input-container">
                <div class="input-group">
                    <input type="text" class="email-input"  id="bank_open"
                    placeholder="请输入您的开户银行，精准到支行" />
                    <img src="../img/account.png" class="email-img" />
                </div>
            </div>
            <div class="input-container">
                <div class="input-group">
                    <input type="text" class="email-input" id="payee"
                    placeholder="您的姓名" />
                    <img src="../img/name.png" class="email-img" />
                </div>
            </div>
            <div class="input-container">
                <div class="input-group">
                    <input type="number" class="email-input" id="payee_card"
                    placeholder="请输入您的银行账号" />
                    <img src="../img/card.png" class="email-img" />
                </div>
            </div>
            <div class="input-container">
                <div class="input-group">
                    <input type="number" class="email-input" id="phone_num"
                    placeholder="请输入您的手机号" />
                    <img src="../img/phone.png" class="email-img" />
                </div>
            </div>
            <div class="input-container">
                <button class="btn-next"  onclick="improveinfo()"  >
                   完成
                </button>
            </div>
        </div>
        <div class="foot-container">
            cardinfolink 2015
        </div>
    </div>
</body>

</html>
